<form action="{{path ('app_order')}}" id="cartSubmitForm" name="cartSubmitForm">
	<select name="cartSubmitFormSelect" id="cartSubmitFormSelect" class="form-select">
		<option value="france">France</option>
		<option value="other">Autres destinations</option>
	</select>
	<button type="submit" class="btn btn-warning rounded-pill my-2">Valider votre panier</button>
</form>
