{% extends 'base.html.twig' %}

{% block title %}B&E Wax-CGV
{% endblock %}

{% block body %}
	<div class="container my-3">
		<h1 class="text-center my-3 h4 fw-lighter">CONDITIONS GÉNÉRALES DE VENTE</h1>
		<p>
			<small class="text-start">Applicables à compter du 1er février 2023</small>
		</p>
		<p>Le site de vente www.benevewax.com est exploité par B&E Wax dont le siège social est situé au  11 Rue Edouard Branly 95220 herblay-sur-Seine, immatriculé au RCS sous le numéro 822 303 186.</p>
		<p>
			Il vous permet de commander des produits en ligne.</p>

		<h5>Article 1 – Acceptation des conditions</h5>

		<p>Le client reconnait avoir pris connaissance, au moment de la passation de commande, des présentes conditions générales de vente et déclare les accepter sans réserve.</p>
		<p>Les présentes conditions générales de vente régissent les relations contractuelles entre B&E Wax et son client, les deux parties les acceptant sans réserve.</p>

		<h5>Article 2 – Champs d’application et modification des conditions</h5>

		<p>Les présentes conditions générales de vente s’appliquent à toute commande passée sur le site Internet www.benevewax.com qui se réserve le droit d’adapter ou de modifier à tout moment les présentes conditions générales de vente. En cas de modification, il sera appliqué à chaque commande les conditions générales de ventes en vigueur au jour de la commande. Les photographies illustrant les produits, n’entrent pas dans le champ contractuel et peuvent ne pas correspondre exactement aux produits réels.</p>

		<p>Nous nous sommes efforcés de présenter aussi précisément que possible les couleurs et images des produits figurant sur la boutique. Nous ne pouvons cependant pas garantir la précision d'affichage des couleurs sur l'écran de votre ordinateur ou tout autre support. Si des erreurs s’y introduisent, en aucun cas B&E Wax ne sera tenu pour responsable.</p>

		<p>Les produits mis en vente sont conformes aux normes applicables en France. Ils sont présentés sur le site et assortis d'un descriptif. Les éléments tels que notamment photographies, textes, graphismes ainsi que toutes les informations et caractéristiques illustrant et/ou accompagnant les produits ne sont pas contractuels, ce que le client reconnaît. En conséquence, nous ne saurions encourir la moindre responsabilité en cas d'erreur ou d'omission de l'un ou quelconque de ces éléments ou en cas de modification des dits éléments</p>

		<h5>Article 3 – Obligations du client
		</h5>

		<p>Le client déclare être majeur et avoir la capacité juridique ou être titulaire d'une autorisation parentale lui permettant d'effectuer une commande sur le site www.benevewax.com
		</p>

		<p>
			Le client s’engage à communiquer à B&E Wax les éléments d’informations nécessaires des présentes conditions tel que cela lui est demandé en ligne et suivant sa situation, notamment ses nom, prénom, adresse, téléphone et email valide.</p>

		<p>Le client est responsable des conséquences découlant d’informations transmises fausses ou inexactes ou dont la reprise serait illicite.</p>

		<h5>Article 4 – Validité des CGV et de la signature électronique
		</h5>

		<p>Les présentes conditions générales de ventes entrent en vigueur à la date de signature électronique (clic) du bon de commande par le consommateur.
			<br>
			Conformément à la loi du 13 mars 2000 sur la signature électronique, tout bon de commande signé du consommateur par un clic sur le bouton « validation de la commande et règlement » constitue une acceptation irrévocable qui ne peut être remise en cause que dans les cas limitativement prévus dans les présentes conditions générales de vente telle que la "rupture de stock".</p>

		<h5>Article 5 – Disponibilité des produits</h5>

		<p>Nos produits et prix sont valables tant qu’ils sont visibles sur le site, dans la limite des stocks disponibles.
			<br>
			A réception de votre commande, nous vérifions la disponibilité du (ou des) produit(s) commandé(s).
			<br>
			En cas d'indisponibilité, nous nous engageons dans les 30 jours à compter de la validation de la commande soit à vous livrer le produit commandé, soit à vous proposer un produit similaire à un prix similaire, soit à vous le	rembourser.
			<br>
			Afin de traiter correctement votre demande, merci de nous rappeler le numéro de votre commande et vos coordonnées complètes.
			<br>
			En cas de rupture de stock sur l’un des produits de votre commande, nous expédions les produits disponibles.</p>

		<h5>Article 6 – Prix</h5>

		<p>Les prix affichés sur le Site sont indiqués en euros nets, ( TVA non applicable - article 293 B du CGI ) hors frais de port et d'emballage.
			<br>
			Les frais de port et d’emballage seront indiqués dans le panier du client, avant la validation définitive de la commande.
			<br>
			Les prix peuvent être modifiés à tout moment, sans préavis et notamment en cas de changement de données fiscales ou économiques. Les articles seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement de la commande.</p>

		<h5>Article 7 – Commande</h5>

		<p>
			Toute commande sera validée après acceptation du paiement.
			<br>
			B&E Wax se réserve le droit d’annuler ou de refuser d'honorer une commande émanant d'un consommateur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.
			<br>
			Nous acceptons les commandes dans la limite des stocks disponibles. Nous informons le client de la disponibilité des produits sur le site.
			<br>
			Si, en dépit de notre vigilance, certains produits sont indisponibles, nous en informerons le client par e-mail dans les meilleurs délais.
			<br>
			B&E Wax envoie au Client un e-mail de confirmation lorsque la commande est effectuée. Un e-mail l’informe de l’envoi des produits également.</p>

		<h5>
			Article 8 – Paiement
		</h5>

		<p>L'intégralité du paiement doit être réalisée lors de la commande.
			<br>
			Le client dispose de plusieurs moyens de paiement proposés conformément	aux dispositions du présent article.
			<br>
			B&E Wax conserve la propriété des articles jusqu'au paiement intégral du prix par le client. Les achats sont réalisés de manière sécurisée. Les solutions de paiement adoptées par B&E Wax sont 100% sécurisées. Pour les paiements par carte bancaire toutes les informations que les clients communiquent à B&E Wax sont strictement protégées et garantissent la conformité et la sécurisation de chaque transaction.
			<br>
			B&E Wax accepte le paiement par virement bancaire, veuillez en faire la demande par e-mail à contact@benevewax.com
			<br>
			Le règlement peut se faire par PayPal, Carte Bancaire (via PayPal), Chèque (la marchandise sera expédiée dès la réception du chèque) ou virement bancaire (la marchandise sera expédiée dès que le paiement est validé par notre banque).
			<ul>
				<li>par Carte Bancaire – transaction sécurisée sur le site Paypal (www.paypal.com)</li>
				<li>par PayPal – transaction sécurisée sur le site Paypal (www.paypal.com)</li>
				<li>par Chèque – (la marchandise sera expédiée dès la réception de chèque)</li>
				<li>par Virement Bancaire : Les informations bancaires sont transmises par email après la validation de la commande sur le site de vente si ce mode de paiement est choisi</li>
			</ul>
			Attention, les frais de virement bancaire sont à la charge du client et ne doivent pas être prélevés du montant total de la commande.
			<br>
			Dans tous les cas, la marchandise ne sera expédiée qu’après vérification et	réception du paiement sur nos comptes.
		</p>

		<h5>Article 9 – Livraison</h5>

		<p>Les produits sont expédiés à l’adresse de livraison indiquée par le client lors de sa commande. La livraison ne peut être effectuée ni dans des hôtels, ni à des boîtes postales. Les délais de livraison indiqués sont des délais indicatifs, correspondant aux délais moyens de traitement et de livraison. Afin que ces délais soient respectés, le client doit s’assurer d’avoir communiqué des informations exactes et complètes concernant l’adresse de livraison (tels que, notamment : n° de rue, de bâtiment,d’escalier, codes d’accès, noms et/ou numéros d’interphone, etc.).
			<br>
			Les délais moyens de traitement, de préparation et d'expédition de votre commande sont de 12 à 20 jours ouvrables . Ils courent dès la validation de la commande.
			<br>
			<span class="text-decoration-underline">
				Délais moyen de livraison en France Métropolitaine :</span>
			de 10 à 15 jours ouvrables en fonction du mode de livraison choisi
			<br>
			<span class="text-decoration-underline">
				Délais moyen de livraison hors France Métropolitaine :</span>
			12 à 20 jours ouvrables
			<br>
			L'ensemble des délais de livraison annoncés sont calculés en jours ouvrés et sont communiqués à titre indicatif. Tout dépassement éventuel ne pourra donner lieu à des dommages et intérêts, retenue ou annulation de la commande par l'acheteur. En tout état de cause, et conformément aux dispositions de l'article L.121-20-3 du code de la consommation, les produits commandés seront livrés dans un délai maximum de trente jours à compter du jour suivant celui où l'acheteur a enregistré sa commande, sous réserve du paiement complet du prix. Faute de livraison à l'expiration de ce délai, l'acheteur aura la possibilité d'annuler sa commande. Les sommes versées par l'acheteur lui seront alors restituées sans délai, à l'exclusion de toute autre indemnisation.
			<br>
			B&E Wax s'engage à informer le client de l'évolution du traitement de sa commande.
			<br>
			En cas de colis endommagés (déjà ouvert, produits manquants…), le client s’engage à le notifier au transporteur et à B&E Wax, par tous moyens, toutes réserves dans les 3 jours suivant la réception du produit.
			<br>
			B&E Wax ne pourra être tenu responsable des conséquences dues à un retard d’acheminement n’étant pas de son fait.
		</p>

		<h5>Article 10 – Retours et Remboursement</h5>

		<p>
			DROIT DE RÉTRACTATION
			<br>
			Conformément aux dispositions légales en vigueur, le client dispose d’un délai de quatorze (14) jours à compter de la réception de sa commande pour exercer son droit de rétractation auprès du Vendeur, sans avoir à justifier de motifs ni à payer de pénalité, à fin d’échange ou de remboursement, à condition que les produits soient retournés dans leur emballage d’origine,scellés et en parfait état.
												Pour exercer ce droit de rétractation, le client devra contacter B&E Wax soit via le via le formulaire de contact ou à défaut sur nos différents réseaux sociaux.
			<br>
			A défaut du renvoi des produits dans le délai de quatorze (14) jours, la commande est réputée définitive et aucun remboursement ne pourra intervenir.
			<br>
			Le client sera remboursé de la totalité des articles retournés, à l’exclusion des frais de port, dans les quatorze (14) jours suivants la récupération du ou des articles retournés.
			<br>
			Le remboursement sera fait par le même moyen de paiement que celui utilisé lors de l'achat.
			<br>
			Vous êtes un professionnel :
			<br>
			Conformément aux dispositions de l'article L. 121-22 du code de la consommation, le droit de rétractation ne s'applique pas aux ventes lorsqu'elles ont un rapport direct avec les activités exercées dans le cadre d'une profession.
		</p>

		<h5>Article 11 – Responsabilités</h5>

		<p>Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de B&E Wax ne saurait être engagée en cas de non respect de la législation du pays où les produits sont livrés. Il vous appartient de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que vous envisagez de commander.
			<br>
			Les photographies et les textes reproduits et illustrants les produits présentés ne sont pas contractuels. En conséquence, la responsabilité de B&E Wax ne saurait être engagée en cas d'erreur dans l'une de ces photographies ou l'un de ces textes.
			<br>
			B&E Wax ne saurait être tenue pour responsable de l'inexécution du contrat conclu en cas de rupture de stock ou indisponibilité du produit, de force majeure, de perturbation ou grève totale ou partielle notamment des services postaux et moyens de transport et/ou communications, inondation,incendie. B&E Wax n’encourt aucune responsabilité pour tous dommages indirects du fait des présentes, perte d'exploitation, perte de profit, perte de chance, dommages ou frais.
			<br>
			B&E Wax n’a pour toutes les étapes d’accès au site, du processus de commande à l’expédition du colis ou des services postérieurs, qu’une obligation de moyen. La responsabilité de B&E Wax ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une coupure de service, une intrusion extérieure ou la présence de virus informatiques, ou de tout fait qualifié de force majeure, conformément à la loi et à la jurisprudence.
		</p>

		<h5>Article 13 – Informatiques et Libertés</h5>
		<p>
			B&E Wax s’engage à n’utiliser les informations confidentielles des clients que dans le cadre de l’exploitation de son site.
			<br>Pour le bon déroulement de la commande, les données nominatives collectées feront l’objet d’un traitement informatique, le client reconnaît en avoir connaissance.
			<br>A ce titre, les informations le concernant peuvent être communiquées à des prestataires techniques de B&E Wax.
			<br>B&E Wax pourra appliquer des moyens techniques pour obtenir des	informations non personnelles relatives aux internautes et destinées à améliorer les fonctionnalités du site, par exemple en traçant le nombre de visiteurs sur certaines pages.
			<br>Conformément à la loi du 6 janvier 1978 modifiée par la loi du 6 août 2004,le client dispose d’un droit d’accès et de rectification des données personnelles le concernant figurant dans les fichiers de B&E Wax. Toute demande doit être adressée par e-mail à : contact@benevewax.com
			<br>En aucun cas le client n’est autorisé à télécharger ou à modifier tout ou partie du site et notamment son contenu (produits listés, descriptions,images, vidéos…).
			<br>Ce site ou toute partie de ce Site ne doit en aucun cas être reproduit, copié, vendu ou exploité pour des raisons commerciales sans l’autorisation expresse et écrite de B&E Wax.
			<br>
			D’une manière générale, tous les droits d’auteur, marques et autres signes distinctifs et droits de propriété ou de propriété intellectuelle figurant sur le site, resteront la propriété pleine et entière de B&E Wax.
			<br>
			Le client est donc tenu au respect des droits de propriété intellectuelle et ne pourra aucunement utiliser les marques figurant sur le site et sur les produits le cas échéant, ou déposer de marque qui porterait préjudice au titulaire des droits, sauf disposition contractuelle contraire.
			<br>Il en est de même pour tout autre droit de propriété intellectuelle.</p>

		<h5>Article 14 – Actualisations des Conditions Générales de Ventes</h5>

		<p>Vous pouvez consulter la version la plus récente des Conditions d’utilisation à tout moment sur cette page.
			<br>Nous nous réservons le droit à notre seule discrétion et sans préavis, de mettre à jour, modifier ou remplacer toute partie des présentes Conditions en publiant lesdites mises à jour et/ou modifications sur notre site web. Il vous incombe de vérifier notre site web de temps à autre pour voir si des changements y ont été apportés. En continuant à accéder à notre site web ou à les utiliser après la publication de modifications apportées aux présentes Conditions, vous acceptez celles-ci. Les conditions applicables sont celles en vigueur à la date de la commande par le Client
			<br>Les présentes conditions générales de vente sont accessibles de façon permanente dans un format informatique permettant leur impression et/ou leur téléchargement, de manière à ce que ce que le client puisse procéder à leur reproduction ou à leur sauvegarde.</p>

		<h5>Article 15 – Liens externes web</h5>

		<p>Certains contenus, produits et services accessibles via notre Site peuvent inclure des éléments provenant de tiers. Ces liens de tiers peuvent vous rediriger vers des sites web de tiers qui ne sont pas affiliés à nous. Nous ne sommes pas tenus d’examiner ou d’évaluer leur contenu ou leur exactitude, de même que nous ne garantissons pas et n’assumons aucune responsabilité quant aux contenus ou sites web, ou aux autres contenus, produits ou services de sources tierces.
			<br>Nous ne sommes pas responsables des préjudices ou dommages liés à l’achat ou à l’utilisation de biens, services, ressources, contenus ou de toute autre transaction reliée à ces sites web tiers. Veuillez lire attentivement les politiques et pratiques de ces tiers et assurez-vous de bien les comprendre avant de vous engager dans une transaction. Les plaintes, réclamations, préoccupations ou questions concernant les produits de tiers doivent être adressées à ces mêmes tiers.</p>

		<h5>Article 16 – Informations Personnelles</h5>

		<p>Toutes les informations de votre compte sont utilisées dans le cadre stricte	de votre relation commerciale avec www.benevewax.com. Ces informations ne sont jamais partagées avec des tiers ou revendues, conformément aux	dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
			<br>La transmission de vos informations personnelles sur notre boutique est régie par notre
			<a href="{{path ('policy')}}">
				politique de confidentialité
			</a>
		</p>

		<h5>Article 17 – Indemnisations</h5>

		<p>Vous acceptez d’indemniser, de défendre et de tenir B&E Wax et notre société mère, sociétés affiliées, partenaires, responsables, directeurs, agents, prestataires de services, sous-traitants, fournisseurs, stagiaires et employés, quittes de toute réclamation ou demande, y compris d'honoraires raisonnables d’avocat, émise par un quelconque tiers à cause de ou consécutivement à votre violation des présentes Conditions d’utilisation ou des documents auxquels elles font référence, ou à votre violation de	quelconques lois ou droits d’un tiers.</p>

		<h5>Article 18 – Dissociabilité</h5>

		<p>Dans le cas où une quelconque disposition des présentes Conditions d’utilisation est jugée illégale, nulle ou inapplicable, cette disposition sera néanmoins applicable dans la pleine mesure permise par la loi, et la partie non applicable sera considérée comme étant dissociée de ces Conditions d’utilisation, sans que ce jugement n'affecte la validité et l’applicabilité des autres dispositions.</p>

		<h5>Article 19 – Loi Applicable – Tribunal Compétent</h5>

		<p>Les présentes conditions générales sont soumises à la loi française en ce qui concerne les règles de fond comme les règles de forme. Tout litige devra faire l'objet d'une tentative préalable de règlement amiable. En l’absence de règlement amiable, compétence est attribuée aux tribunaux français compétents, nonobstant pluralité de défendeurs ou appel en garantie.
			<br>
			Les présentes Conditions générales de vente, ainsi que tout accord distinct par lequel nous vous fournissons les Services sont régis et interprétés en vertu de la
			<strong>
				loi 2004-575 du 21 juin 2004,</strong>qui transpose dans le droit français la directive européenne 2000/31 réglementant le commerce	électronique. Les dispositions issues de cette loi s’appliquent que le client soit un particulier ou un professionnel. Si le client est un particulier, il s’agit notamment des articles L121-16 à L121-20</p>

		<h5>
			Article 20 - Reproduction des textes applicables (Conformément à l'ordonnance 2005-136 du 17 février 2005 du code de la consommation / Code  Civil)</h5>

		<p>Art. L. 211-4. du Code de la consommation:
			<br>Le vendeur est tenu de livrer un bien conforme au contrat et répond des	défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.</p>
		<p>Art. L. 211-5. du Code de la consommation:
			<br>pour être conforme au contrat, le bien doit : 1° Etre propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant a) correspondre à la description donnée par le vendeur et possédé les qualités que celui-ci a présentées au Client sous forme d'échantillon ou de modèle ; b) présenter les qualités qu'un Client peut légitimement attendre eu égard aux déclarations publiques faites par le Vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage. 2° Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par le Client, porté à la connaissance du Vendeur et que ce dernier a accepté.</p>
		<p>Art. L. 211-12. du Code de la consommation :
			<br>L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.</p>
		<p>Art. 1641 du Code Civil :
			<br>Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que le Client ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.</p>
		<p>Art. 1648 alinéa 1 du Code Civil :
			<br>L'action des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.</p>
		<h5>Article 21 – Litiges liés aux paiements via PayPal</h5>
		<p>
			En cas de litige de paiement résolu par PayPal au bénéfice du client et aboutissant au remboursement du prix alors que la commande a été effectivement livrée, 
								le client demeure tenu au règlement du prix de vente, conformément aux articles 1582 et suivants du Code civil ainsi qu’au principe de l’interdiction de l’enrichissement injustifié (article 1303 du Code civil). 
								À défaut de régularisation spontanée, B&E Wax se réserve le droit d’engager toute procédure utile, y compris judiciaire, afin d’obtenir le paiement des sommes dues. 
								Il est rappelé qu’un refus de paiement malgré la réception de la marchandise est susceptible de constituer une fraude assimilable à une escroquerie (article 313-1 du Code pénal).
		</p>
	</div>

{% endblock %}
