{% extends 'base.html.twig' %}

{% block title %}B&E WAX -mentions légales
{% endblock %}

{% block body %}
	<div class="container mb-3">
		<h3 class="text-center fw-lighter">Mentions légales</h3><hr>
		<h4 class="text-start ms-1">
			1- L'entreprise</h4>
		<p>Dénomination commerciale : B&E WAX</p>
		<p>Directeur de publication : Eve Awa DIATTA</p>
		<p>Entreprise individuelle immatriculée au RCS n°822 303 186</p>
		<p>SIRET: 822 303 186 00016</p>
		<p>Email de contact : benevewax@gmail.com</p>
		<p>
			Siège social : 11 Rue Edouard Branly
		</p>
		<p>Tel: 06. / +221 77 130 42 90</p>
		Le site est hébergé par :</p>
	<div class="">
		<p>
			Hostinger</p>
		<p>
			61 Lordou Vironos Street</p>
		<p>6023 Larnaca</p>
		<p>
			Chypre</p><br>
		<p>
			<h4 class="text-start ms-1">
				2- Données personnelles</h4>
		</p>
		<p>Toutes les Informations de votre compte ne sont utilisées que dans le cadre de votre relation commerciale avec www.benevewax.com.</p>
		<p>
			Ces informations ne sont jamais partagées avec des tiers ou revendus. Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
		</p>
		<h4 class="text-start ms-1">
			3- Informations techniques</h4>
		<p class="text-start">Réseau Internet</p>
		<p>
			Il est rappelé que le secret des correspondances n'est pas garanti sur le réseau internet et qu'il appartient à chaque utilisateur d'internet de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination d'éventuels virus circulant sur Internet</p>
	</div>
</div>{% endblock %}
