{% extends 'base.html.twig' %}

{% block title %}B&E Wax
{% endblock %}

{% block body %}
	<div class="container text-center">
		{% include 'homepage/_homeCarousel.html.twig' %}</div>
	<h1 class="text-center my-4 text-warning fw-bold">Bienvenue sur la boutique en ligne  B&E Wax</h1>
	<p class="text-center fs-6 fst-italic fw-lighter">Nous vous proposons des modèles uniques de chaussures, vestes et accessoires customisés. Notre vision, mettre en valeur les couleurs chaudes propres aux cultures africaines. Et quelle meilleure façon d'utiliser le wax qui est un symbole de l'élégance à l'Africaine. Notre objectif, vous apportez une touche d'élégance et de distinction supplémentaire avec des coloris variés. Vous trouverez certainement votre bonheur sur notre boutique aussi bien pour les adultes que pour les enfants</p>
	<p class="text-center my-5">
		<button class="btn btn-outline-warning rounder-pill border border-2 rounded-pill border-warning">
			<a href="{{path ('app_shop')}}" class="text-decoration-none fs-4 link-dark fw-bold">
				Découvrez notre boutique</a>
		</button>
	</p>
{% endblock %}
