{% extends 'base.html.twig' %}

{% block title %}B&E Wax-Boutique
{% endblock %}

{% block body %}
	<div class="row row-cols-md-2 justify-content-center">
		<div class="col">
			<a href="{{path ('app_shop_kids')}}" class="text-decoration-none">
				<div class="card h-100 border border-0 ms-2">
					<img src="{{asset ('/Images/kidShop.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Espace Enfants</h5>
						<p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut cumque optio dolorum! Consequatur corporis laudantium, iusto soluta asperiores est laboriosam earum aperiam itaque? Maiores nostrum in ipsum doloremque incidunt.</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col">
			<a href="{{path ('app_shop_adults')}}" class="text-decoration-none">
				<div class="card h-100 border border-0 me-2">
					<img src="{{asset ('/Images/adultShop.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Boutique Adultes</h5>
						<p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex culpa debitis! Non dolores delectus quia, temporibus consectetur vel tenetur soluta quibusdam cupiditate inventore impedit quae repudiandae quos quisquam iusto.</p>
					</div>
				</div>
			</div>
		</a>
	</div>
{% endblock %}
