{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/home/moise/Documents/Clients/BeneveWax/benevewaxwebsite/src/Controller/ShopController.php'|file_link(0) }}">src/Controller/ShopController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/home/moise/Documents/Clients/BeneveWax/benevewaxwebsite/templates/shop/index.html.twig'|file_link(0) }}">templates/shop/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
