{% extends 'base.html.twig' %}

{% block title %}B&E Wax-Boutique
{% endblock %}

{% block body %}
	<h1 class="text-center">Boutique</h1>
	<div class="row row-cols-md-2 align-items-end d-flex my-3">
		<div class="col">
			<a href="{{path ('app_shop_kids')}}" class="text-decoration-none">
				<div class="card h-100 border border-0 ms-2">
					<img src="{{asset ('/Images/kidShop_cut.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Espace Enfants</h5>
						<p class="card-text text-center">Les plus petits ne sont pas en reste. Venez découvrir notre choix de chaussures, vestes et ensembles assortis</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col">
			<a href="{{path ('app_shop_adults')}}" class="text-decoration-none">
				<div class="card h-100 border border-0 me-2">
					<img src="{{asset ('/Images/adultShop.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Boutique Adultes</h5>
						<p class="card-text text-center">Très large choix de chaussures,vestes et ensembles élégants. Quoi de mieux qu'une touche d'originalité?
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>
{% endblock %}
