{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<h1 class="text-center my-2">Boutique Enfants</h1>
		<ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active text-secondary mx-2" id="kidShoes-tab" data-bs-toggle="pill" data-bs-target="#pills-kidShoes" type="button" role="tab" aria-controls="pills-kidShoes" aria-selected="true">Chaussures</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link text-secondary  mx-2" id="kidVestes-tab" data-bs-toggle="pill" data-bs-target="#pills-kidVestes" type="button" role="tab" aria-controls="pills-kidVestes" aria-selected="false">Vestes</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link text-secondary  mx-2" id="kidEnsembles-tab" data-bs-toggle="pill" data-bs-target="#pills-kidEnsembles" type="button" role="tab" aria-controls="pills-kidEnsembles" aria-selected="false">Ensembles</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-kidShoes" role="tabpanel" aria-labelledby="kidShoes-tab">
				<div class="row row-cols-md-3 row-cols-sm-2 row-cols-2 row-cols-lg-4 mt-2">
					{% for article in kidShoes %}

						{% include "shop/_productCard.html.twig" %}

					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="pills-kidVestes" role="tabpanel" aria-labelledby="kidVestes-tab">
				<div class="row row-cols-md-3 row-cols-sm-2 row-cols-2 row-cols-lg-4 mt-2">
					{% for article in kidVestes %}

						{% include "shop/_productCard.html.twig" %}

					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="pills-kidEnsembles" role="tabpanel" aria-labelledby="kidEnsembles-tab">
				<div class="row row-cols-md-3 row-cols-sm-2 row-cols-2 row-cols-lg-4 mt-2">
					{% for article in kidEnsembles %}

						{% include "shop/_productCard.html.twig" %}

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
