{% extends 'base.html.twig' %}


{% block body %}
<div class="row justify-content-center my-5">
<div class="col-lg-8">
	<div class="card mb-3 border border-0">
		<div class="card-img-top">
			{% include 'shop/_detailCarousel.html.twig' %}</div>
		<div class="card-body">
			<h5 class="card-title">{{article.name}}</h5>
			<p class="card-text">{{article.description|raw}}</p>
			<p class="card-text">
				{% if article.assortiment %}
					{% include 'shop/_sizeSelectEnsembleProduct.html.twig' %}
				{% else %}
					{% include 'shop/_sizeSelectSimpleProduct.html.twig' %}
				{% endif %}
			</p>
		</div>
		<div class="card-footer text-center border border-0 bg-white">
			<button class="btn rounded-pill btn-warning" type="submit" form="selectSizeForm">Ajouter au panier</button>
		</div>
	</div>
</div>

</div>



{% endblock %}
