// @import "bootstrap";

// Override Bootstrap variables before the rest of Bootstrap is imported
$nav-pills-link-active-bg: #fcd734; // Couleur de fond personnalisée pour les onglets actifs
$nav-pills-link-active-color: white; // Couleur de texte personnalisée pour les onglets actifs
$breadcrumb-margin-bottom: 0.25rem; // réduction de la margin bottom pour les breadcums ( originel à 1 rem)
@import "~bootstrap/scss/bootstrap";
