{% extends 'base.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1 class="text-center h2 my-2">Formulaire de contact</h1>

		<div class="container">
			{{form(form)}}
			</div>
		{% endblock %}
