<div class=" footer mt-3 bg-warning d-flex justify-content-center ">
	<div class="row d-flex justify-content-center">
		<div class="col-12 text-center">
			<p class="mt-2 text-center">
				<a href="https://www.instagram.com/bewax003" class="text-decoration-none link-dark mx-1">
					<i class="bi bi-instagram fs-5 text-dark"></i>
				</a>

				<a href="https://www.facebook.com/BEWAX003" class="text-decoration-none link-dark">
					<i class="bi bi-facebook fs-5 text-dark"></i>
				</a>
			</p>
			<p class="fs-6">
				<a href="{{path('app_contact')}}" class="text-dark text-decoration-none">
					<span>
						Nous contacter</span>
				</a>
			</p>
			<p class="mt-2 text-center">
				<i class="bi bi-credit-card fs-5 text-dark"></i>&thinsp;
				<i class="bi bi-paypal fs-5 text-dark"></i>&thinsp;
				<i class="bi bi-stripe fs-5 text-dark"></i>
				<span>
					&ensp;<i class="bi bi-lock-fill" style="color : dark"></i>&nbsp;<span class="text-dark">Paiement sécurisé</span>
				</span>
			</p>
		</div>
	</div>
</div>
