<div class=" footer mt-3 bg-warning d-flex justify-content-center ">
	<div class="row d-flex justify-content-center">
		<div class="col-12 text-center">
			<p class="mt-2 text-center">
				<a href="https://www.instagram.com/bewax003" class="text-decoration-none link-dark mx-1">
					<i class="bi bi-instagram fs-5 text-white"></i>
				</a>

				<a href="https://www.facebook.com/BEWAX003" class="text-decoration-none link-dark">
					<i class="bi bi-facebook fs-5 text-white"></i>
				</a>
			</p>
			<p class="fs-6">
				<a href="{{path('contact')}}" class="text-white text-decoration-none">
					<small>
						Nous contacter</small>
				</a>
			</p>
			<p class="mt-2 text-center">
				<i class="bi bi-credit-card fs-5 text-white"></i>&thinsp;
				<i class="bi bi-paypal fs-5 text-white"></i>&thinsp;
				<i class="bi bi-stripe fs-5 text-white"></i>
				<span>
					&ensp;<i class="bi bi-lock-fill" style="color : white"></i>&nbsp;<small class="text-white">Paiement sécurisé</small>
				</span>
			</p>
		</div>
	</div>
</div>
