<div class="container text-center my-5">
	<div class="mt-3">
		<button class="rounded-pill btn btn-warning" id="paymentButton" data-clientid={{paypalClientId}} data-orderref="{{order.reference}}">Payer
			{{(total_to_pay / 100)|number_format(2, ',', '.')}}€</button>
	</div>
</div>
