{% extends 'base.html.twig' %}

{% block title %}B&E Wax-Erreur commande
{% endblock %}

{% block body %}
	<h1 class="text-center h3">
		Incident Paiement
	</h1>
	<div class="row justify-content-center mt-2">
		<div class="col-lg-8 col-sm-12 text-center">
			<p>
				Désolé, mais nous avons été confronté à un incident lors du paiement. Vous pouvez vous rendre dans votre panier pour finaliser votre commande.
			</p>
		</p>
	</div>
</div>{% endblock %}
